/* General styles for all screen sizes */
body {
    font-family: 'Roboto', sans-serif;
}

/* TV screen */
@media only screen and (min-width: 1200px) {
    /* ...custom styles for TV screens... */
}

/* Tablet screen */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .work .desc h3 {
        font-size: 1.5em;
    }
}

/* Mobile screen */
@media only screen and (max-width: 767px) {
    .work .desc h3 {
        font-size: 1.2em;
    }
}

/* Mini screen */
@media only screen and (max-width: 480px) {
    .work .desc h3 {
        font-size: 1em;
    }
}
